**/.DS_Store
**/.run/
**/__pycache__/*
**/cmake-build-*
**/generated/*
.cmake/
.idea/
CMakeCache.txt
CMakeFiles/
CMakePresets.json
Testing/
bin/
build/
demos/
external/
externals/
out/

samples/
staging/
utils/

.makefile_update_check
.makefile_status
.modules
**/archive

_CPack_Packages/
compile_commands.json
.cache/


HoffSoft-2.0.0-*
HoffSoft-2.0.0-Linux.rpm
HoffSoft-2.0.0-Linux.sh
HoffSoft-2.0.0-win64.exe
HoffSoft-2.0.0-win64.zip
HoffSoft-2.0.0-Linux.zip
HoffSoft-2.0.0-Linux.exe
