[submodule "global-resources"]
	path = global-resources
	url = git@github.com:ga2k/global-resources.git
	branch = master
[submodule "cmake"]
	path = cmake
	url = git@github.com:ga2k/CMakeFiles.git
	branch = master
