**/.DS_Store
**/.run/
**/__pycache__/*
**/cmake-build-*
**/generated/*
.cmake/
.idea/
CMakeCache.txt
CMakeFiles/
CMakePresets.json
Testing/
bin/
build/
demos/
external/
externals/
out/

samples/
staging/
utils/

.makefile_update_check
.makefile_status
.modules
**/archive

_CPack_Packages/
compile_commands.json
.cache/


